.shox{
    font-size: 100px;
    font-weight: 500;
    color: darkblue;
    font-style: unset;
    line-height: 300px;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 150px;
    white-space: wrap;
}